body, p, ul, li, h1, h2, h3, h4, h5, h6, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
a:active {
    color: #FFF;
}

a:visited {
    color: #FFF;
}
a{
    color: #FFF;
}
@font-face {
    font-family: Oswald; /* Имя шрифта */
    src: url(../Fonts/Oswald-Regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Roboto; /* Имя шрифта */
    src: url(../Fonts/Roboto-Regular.ttf); /* Путь к файлу со шрифтом */
}
body {
    min-width: 320px;
}

.container {
    margin: 0 auto;
    width: 100%;
}

.header-background-wrapper{
    width: 100%;
    height: 768px;
    background: url("../img/Headerbckg.png") no-repeat center;
    background-size: cover;
}
.main-menu{
    display: flex;
    justify-content: space-between;

}
.main-menu-logo{
    margin-left: 108px;
    margin-top: 18px;
    margin-right: 34px;

}
.main-menu-items{
    display: flex;
    align-items: center;
    margin-top: 48px;
    margin-left: 35px;
}
.notFirst{
    margin-left: 68px;
}
.main-menu-links-item{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #FFF;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.main-menu-links-item:hover{
    border-bottom: 1px #FFFFFF solid;
}
.main-menu-numbers{
    margin-left: 50px;
    margin-top: 48px;
    margin-right: 125px;
    color: #FFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}
.main-menu-numbers-logo{
    display: none;
}
.numbers{
    margin-bottom: 8px;
}
.operators-logo{
    margin-right: 10px;
}
.main-slogan{
    text-align: center;
    margin-top: 64px;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 72px;
    color: #FFF;
}
.our-benefits{
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    margin-left: 157px;
    margin-right: 200px;

}
.each-benefit{
    display: flex;
}
.benefit-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
}
.benefit-text-1{
    width: 123px;
    height: 32px;
}
.benefit-text-2{
    width: 216px;
    height: 64px;
}
.benefit-text-3{
    width: 132px;
    height: 32px;
}
.each-benefit{
    align-items: center;
}
.title{
    margin-top: 84px;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 38px;
    color: #070809;
    text-align: center;
}
.about-us-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #070809;
}
.about-us-text-1{
    width: 488px;
    height: 416px;
}
.about-us-text-2{
    width: 488px;
    height: 256px;
}
.about-us-text-image{
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-left: 176px;
    margin-right: 176px;
}
.about-us-text-end{
    text-align: right;

}
.about-us-img{
    margin-left: 72px;
    width: 512px;
    height: 712px;
    z-index: 40;

}
.products{
    display: flex;
    margin-top: 51px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 176px;
    margin-right: 176px;
}
.each-product{
    width: 320px;
    height: 448px;
    background: #FFF;
    border: 1px solid #EEC952;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
}
.each-product-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    color: #070809;
    margin-top: 66px;
}
.each-product-img{
    margin-top: 24px;
}
.each-product-text{
    width: 262px;
    height: 152px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 38px;
    color: #4F4F4F;
    margin: 32px auto;
}
.button{
    margin: 0 auto;
}
.button{
    text-align: center;
}
.show-more{
    width: 320px;
    height: 88px;
    background: #FFECAF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #070809;
    border: none;
    margin-top: 8px;
}
.show-more:hover{
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}
.gallery-wrapper{
    text-align: center;
    margin-top: 63px;
}
.gallery-title{
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 38px;
    color: #070809;
}
.gallery-title-arrows-wrapper{
    margin-top: 129px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrows-wrapper{
    position: absolute;
    margin-left: 388px;
}
.left, .right{
    cursor: pointer;
}
.gallery-slider{
    display: flex;
    text-align: left;
    margin-left: 112px;
    box-sizing: border-box;
    justify-content: flex-end;
    transition: .2s;
}
.gallery-img, .gallery-img-text{
    margin-left: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 38px;
    color: #4F4F4F;
}
.gallery{
    margin-bottom: 89px;
}

.footer-part{
    padding-top: 50px;
    background: #413E37;
    width: 100%;
    height: 352px;
    display: flex;
    justify-content: space-between;
}
.footer-menu-links-item{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.footer-contacts-item{
    display: flex;
    margin-bottom: 32px;
}
.footer-contacts-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}
.footer-contacts-img{
    margin-right: 16px;
}
.price-btn{
    width: 240px;
    height: 64px;
    left: 1024px;
    top: 4224px;
    border: 1px solid #EEC952;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #EEC952;
    background: #413E37;
}
.footer-menu-links-item{
    width: 214px;
}
.price-btn:hover{
    border: 4px solid #EEC952;
}
.price-btn-wrapper{
    margin-right: 170px;
}
.footer-logo{
    margin-left: 15%;
}
@media all and (max-width: 1467px) {
.main-menu-logo{
    margin-left: 40px;
}
    .main-menu-items{
        margin-left: 0;
    }
    .notFirst{
    margin-left: 48px;
    }
    .main-menu-numbers{
        margin-left: 49px;
        margin-right: 52px;
    }
    .main-slogan{
        font-size: 56px;
    }
    .about-us-img{
        width: 496px;
        height: 704px;
    }
    .about-us-text-image{
        margin-left: 80px;
        margin-right: 80px;
    }
    .gallery-img{
        width: 600px;
        height: 400px;
    }
    .about-us-picture{
        width: 496px;
        height: 704px;
    }
    .products{
        margin-left: 80px;
        margin-right: 80px;
    }
}
@media all and (max-width: 1216px) {
    .gallery-slider{
        justify-content: end;
    }
}

@media all and (max-width: 1210px) {
    .main-menu-numbers-logo{
        display: flex;
        width: 24px;
        height: 24px;
        margin-top: 48px;
        margin-right: 64px;
        margin-left: 33px;
        cursor: pointer;
    }
    .main-menu-numbers-logo:hover{
        transform: scale(2);
    }
    .main-menu-numbers{
        display: none;
        position: absolute;
        margin: 0;
        left: 80%;
        top: 20%;
    }
    .our-benefits{
        margin-left: 94px;
        margin-right: 95px;
    }
    .about-us-text-image{
        margin-left: 41px;
        margin-right: 41px;
        margin-top: 35px;
    }
    .about-us-text-1{
        width: 335px;
        height: 336px;
        font-size: 14px;
        line-height: 22px;
    }
    .about-us-text-2{
        width: 336px;
        height: 224px;
        font-size: 14px;
        line-height: 22px;
    }
    .about-us-text-end{
        font-size: 14px;
        line-height: 32px;
    }
    .about-us-img{
        height: 464px;
    }
    .about-us-picture{
        width: 328px;
        height: 464px;
        margin-top: 34px;
    }
    .title{
        margin-top: 63px;
    }
    .products{
        margin-left: 40px;
        margin-right: 40px;
    }
    .each-product{
        width: 33%;
    }
    .footer-logo{
        margin-left: 97px;
    }
    .price-btn-wrapper{
        margin-right: 80px;
    }
}
@media all and (max-width: 1030px){
    .notFirst{
        margin-left: 22px;
    }
    .our-benefits{
        margin-left: 45px;
        margin-right: 40px;
    }
}
