body, p, ul, li, h1, h2, h3, h4, h5, h6, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
a:active {
    color: #FFF;
}

a:visited {
    color: #000000;
}
a{
    color: #000000;
}
@font-face {
    font-family: Oswald; /* Имя шрифта */
    src: url(../Fonts/Oswald-Regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Roboto; /* Имя шрифта */
    src: url(../Fonts/Roboto-Regular.ttf); /* Путь к файлу со шрифтом */
}
body {
    min-width: 320px;
}

.container {
    margin: 0 auto;
    width: 100%;
}

.main-menu{
    display: flex;
    justify-content: space-between;

}
.main-menu-logo{
    margin-left: 78px;
    margin-top: 16px;
    margin-right: 79px;

}
.main-menu-items{
    display: flex;
    align-items: center;
    margin-top: 48px;
    margin-left: 35px;
}
.main-menu-links-item{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    border-bottom: 1px solid #FFF;
}
.notFirst{
    margin-left: 68px;
}
.main-menu-links-item:hover{
    border-bottom: 1px solid #FFECAF;
}
.main-menu-numbers{
    margin-left: 59px;
    margin-top: 48px;
    margin-right: 125px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}
.main-menu-numbers-logo{
    display: none;
}
.numbers{
    margin-bottom: 8px;
}
.operators-logo{
    margin-right: 10px;
}
.about-us{
    margin-top: 91px;
}
.picture-and-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    width: 656px;
    height: 112px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #070809;
    margin-left: 112px;
}
.our-products{
    margin-top: 112px;
}
.our-products-slogan{
    text-align: center;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 38px;
    color: #070809;
}
.coffee-options{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 272px;
    margin-right: 272px;
}
.options{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    color: #070809;
    border-bottom: 1px solid #FFF;
    cursor: pointer;
}
.options:hover{
    border-bottom: 1px solid #FFECAF;
}
.tabs{
    display: flex;
    margin-top: 51px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 176px;
    margin-right: 176px;
}
.each-product{
    width: 320px;
    height: 448px;
    background: #FFF;
    border: 1px solid #EEC952;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
}
.each-product-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    color: #070809;
    margin-top: 66px;
}
.each-product-img{
    margin-top: 24px;
}
.each-product-text{
    width: 262px;
    height: 152px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 38px;
    color: #4F4F4F;
    margin: 32px auto;
}
.footer-part{
    padding-top: 50px;
    background: #413E37;
    width: 100%;
    height: 352px;
    display: flex;
    justify-content: space-between;
}
.footer-menu-links-item{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 32px;
}
.link-item-font{
    color: #FFFFFF;
}
.footer-contacts-item{
    display: flex;
    margin-bottom: 32px;
}
.footer-contacts-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}
.footer-contacts-img{
    margin-right: 16px;
}
.price-btn{
    width: 240px;
    height: 64px;
    left: 1024px;
    top: 4224px;
    border: 1px solid #EEC952;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
    background: #413E37;
}
.btn-link-font{
    color: #EEC952;
}
.footer-menu-links-item{
    width: 214px;
}
.price-btn:hover{
    border: 4px solid #EEC952;
}
.price-btn-wrapper{
    margin-right: 170px;
}
.footer-logo{
    margin-left: 15%;
}